<div class="fixed-item">

</div>
<header class="header">
  <div class="menu" (click)="menuOpen = !menuOpen">
    <div class="menu-text">
      Menu
    </div>
    <div class="burger">
      <span [ngClass]="{ 'cross':menuOpen,'active':!menuOpen  }"></span>
      <span [ngClass]="{ 'cross':menuOpen,'active':!menuOpen  }"></span>
      <span [ngClass]="{ 'cross':menuOpen,'active':!menuOpen  }"></span>
    </div>
  </div>
  <div class="other-menu" @flyInOut *ngIf="menuOpen">
    <ul>
      <li class="other-menu-item">
        <h3>Home</h3>
      </li>
      <li class="other-menu-item">
        <h3>Blog</h3>
      </li>
    </ul>
  </div>
</header>


<div class="main">

  <div class="video-block">
    <video autoplay loop width="100%" height="100%" #video>
      <source src="assets/video/videoplayback.mp4" type="video/mp4">
    </video>
  </div>
  <div class="brief">
    <p>我是來自高雄的前端工程師 王崇軒</p>
    <h2>Welcome, I'm Evan!</h2>
  </div>
  <div>

    <ul class="my-menu" #menu>
      <li [ngClass]="{'active':item.active}" *ngFor="let item of menuArray;let index = index;" (click)="goMenu(index)">
        {{ item.name }}
      </li>
    </ul>
    <div class="hidden"></div>

    <div class="fixed-bg about" #about>
      <div class="container">
        <div class="content">
          <h2 class="title">
            ABOUT ME
          </h2>
          <div class="box">
            <div class="me">
              <img src="assets/images/1.jpg" alt="">
            </div>
            <div class="introduction">
              <h4 class="name">Evan Wang 王崇軒</h4>
              <h3 class="rank">小小前端工程師</h3>
              <p>
                嗨！我是 Evan 王崇軒，是一位熱愛學習的工程師，個性和善、積極，對於事物有所自己的堅持，想要出自我手的東西是最好的。
              </p>
              <p>
                從研究所進入web世界，專研於網站超過三年的經驗後，後深深為它著迷，尤其是前端領域，版面上美好的設計，以及語言上的靈活性，可以創造出許多豐富的產品。
              </p>
            </div>
          </div>
          <ul class="sub-item">
            <li>
              <span class="icon-location"></span>
              <span>
                高雄市，台灣
              </span>
            </li>
            <li>
              <span class="icon-mail2"></span>
              <a href="mailto:kevinwang6303@gmail.com">kevinwang6303@gmail.com</a>
            </li>
            <li>
              <span class="icon-github"></span>
              <a href="https://github.com/kevinwang6303" target="_blank">
                https://github.com/kevinwang6303
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="fixed-bg experience" #experience>
      <div class="container">
        <div class="content">
          <h2 class="title">
            EXPERIENCE
          </h2>
          <div class="box">
            <section>
              <h4>學經歷</h4>
              <div class="education">
                <div class="line">
                  <div></div>
                  <span class="year">
                    <span>2015-06</span>
                  </span>
                  <div></div>
                </div>
                <div class="description">
                  <h3>國立高雄應用科技大學(現今國立高雄科大) - 電機所畢</h3>
                  <ul>
                    <li>
                      台灣電力公司 - 智慧電表統計網站
                    </li>
                  </ul>
                  <span class="icon icon-library"></span>
                </div>
              </div>
              <div class="education">
                <div class="line">
                  <div></div>
                  <span class="year">
                    <span>2015-11</span>
                  </span>
                  <div></div>
                </div>
                <div class="description">
                  <h3>哈瑪星科技</h3>
                  <ul>
                    <li>
                      企業輔銷系統
                    </li>
                    <li>
                      HTML5電子書
                    </li>
                    <li>
                      CIRN─國民中小學課程與教學資源整合平臺
                    </li>
                    <li>
                      2017臺北世大運官方首頁
                    </li>
                    <li>
                      臺北市政府電子公報資訊網
                    </li>
                    <li>
                      富邦影書城平台
                    </li>
                    <li>
                      香港匯知教育出版社教學平台
                    </li>
                  </ul>
                  <span class="icon icon-briefcase"></span>
                </div>
              </div>
              <div class="education">
                <div class="line">
                  <div></div>
                  <span class="year">
                    <span>{{ toDay | date:'yyyy-MM' }}</span>
                  </span>
                  <div></div>
                </div>
                <div class="description">
                  <h3>至今</h3>
                  <ul>
                    <li>
                      Progressive Web Apps
                    </li>
                    <li>
                      仿instagram留言牆
                    </li>
                    <li>
                      學習React
                    </li>
                    <li>
                      深入RxJs
                    </li>
                  </ul>
                  <span class="icon icon-user"></span>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-bg skills" #skills>
      <div class="container">
        <div class="content">
          <div class="box">
            <h2 class="title">
              SKILLS
            </h2>
            <div>
              <h3>前端</h3>
              <div>
                <div>
                  <div style="display: inline-block;width: 78%;">HTML5/CSS</div>
                  <span>80%</span>
                </div>
                <div class="bar">
                  <div class="inner" style="width: 80%;">
                  </div>
                </div>
                <div>
                  <div style="display: inline-block;width: 83%;">Javascript / Jquery / Typescript</div>
                  <span>85%</span>
                </div>
                <div class="bar">
                  <div class="inner" style="width: 85%;">
                  </div>
                </div>

              </div>
              <h3>後端</h3>
              <div>
                <div>
                  <div style="display: inline-block;width: 68%;">C#</div>
                  <span>70%</span>
                </div>
                <div class="bar">
                  <div class="inner" style="width: 70%;">
                  </div>
                </div>
                <div>
                  <div style="display: inline-block;width: 68%;">MS-SQL</div>
                  <span>70%</span>
                </div>
                <div class="bar">
                  <div class="inner" style="width: 70%;">
                  </div>
                </div>
                <div>
                  <div style="display: inline-block;width: 68%;">PostgreSQL</div>
                  <span>70%</span>
                </div>
                <div class="bar">
                  <div class="inner" style="width: 70%;">
                  </div>
                </div>
                <div>
                  <div style="display: inline-block;width: 68%;">MongoDB</div>
                  <span>70%</span>
                </div>
                <div class="bar">
                  <div class="inner" style="width: 70%;">
                  </div>
                </div>
              </div>
              <h3>框架</h3>
              <div>
                <div>
                  <div style="display: inline-block;width: 83%;">AngularJs</div>
                  <span>85%</span>
                </div>
                <div class="bar">
                  <div class="inner" style="width: 85%;">
                  </div>
                </div>
                <div>
                  <div style="display: inline-block;width: 83%;">Angular</div>
                  <span>85%</span>
                </div>
                <div class="bar">
                  <div class="inner" style="width: 85%;">
                  </div>
                </div>
                <div>
                  <div style="display: inline-block;width: 73%;">ASP.NET</div>
                  <span>75%</span>
                </div>
                <div class="bar">
                  <div class="inner" style="width: 75%;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-bg trait" #trait>
      <div class="container">
        <div class="content">
          <div class="box">
            <h2 class="title">
              TRAIT
            </h2>
            <div>
              <ul>
                <li>
                  <h2>以學習以及實作中自我成長，追求新知識、深入感興趣細節</h2>
                  <p class="margin-0">
                    多學習非工作上的實務，包括PWA、MongoDB..等等，更深入研究AngularJS、Angular， 理解其運作與原理，從中學習其強大技巧， 讓自己具備更多能力，能與他人溝通，進一步交流。
                  </p>
                </li>
                <li>
                  <h2>注重團隊溝通</h2>
                  <p class="margin-0">
                    曾多次參與參與團隊開發政府標案以及2017世大運官網，以及利用熟悉框架以及語言與團隊進行開發，良好的團隊溝通成就美好的產品。
                  </p>
                </li>
                <li>
                  <h2>喜歡新鮮事物</h2>
                  <p class="margin-0">
                    資訊爆炸的時代，隨時關注熱門以及感興趣事物，讓自我能力不落人後。
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-bg trait">
      <div class="container">
        <div class="content">
          <div class="back" (click)="goTop()">
            <div>
              <span class="icon-arrow-up"></span>
            </div>
            <a class="back-text">Back to Top</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
