<div class="content" #content>
  <div class="container">
    <h2 class="title">
      關於
    </h2>
    <div class="box">
      <div class="me">
        <img src="assets/images/1.jpg" alt="">
      </div>
      <div class="introduction">
        <h4 class="name">Evan Wang 王崇軒</h4>
        <h3 class="rank">小小前端工程師</h3>
        <p>
          嗨！我是 Evan 王崇軒，是一位熱愛學習的工程師，個性和善、積極，對於事物有所自己的堅持，想要出自我手的東西是最好的。
        </p>
        <p>
          從研究所進入web世界，專研於網站超過三年的經驗後，後深深為它著迷，尤其是前端領域，版面上美好的設計，以及語言上的靈活性，可以創造出許多豐富的產品。
        </p>
      </div>
    </div>
    <ul class="sub-item">
      <li>
        <span class="icon-location"></span>
        <span>
          高雄市，台灣
        </span>
      </li>
      <li>
        <span class="icon-mail2"></span>
        <a href="mailto:kevinwang6303@gmail.com">kevinwang6303@gmail.com</a>
      </li>
      <li>
        <span class="icon-github"></span>
        <a href="https://github.com/kevinwang6303" target="_blank">
          https://github.com/kevinwang6303
        </a>
      </li>
    </ul>
    <h2 class="title">
      經歷
    </h2>
    <div class="box">
      <section>
        <h4>學經歷</h4>
        <div class="education">
          <div class="line">
            <div></div>
            <span class="year">
              <span>2015-06</span>
            </span>
            <div></div>
          </div>
          <div class="description">
            <h3>國立高雄應用科技大學(現今國立高雄科大) - 電機所畢</h3>
            <ul>
              <li>
                台灣電力公司 - 智慧電表統計網站
              </li>
            </ul>
            <span class="icon icon-library"></span>
          </div>
        </div>
        <div class="education">
          <div class="line">
            <div></div>
            <span class="year">
              <span>2015-11</span>
            </span>
            <div></div>
          </div>
          <div class="description">
            <h3>哈瑪星科技</h3>
            <ul>
              <li>
                TinCan學習統計分析
              </li>
              <li>
                HTML5電子書
              </li>
              <li>
                企業輔銷系統
              </li>
              <li>
                單間智慧教室
              </li>
              <li>
                CIRN─國民中小學課程與教學資源整合平臺
              </li>
              <li>
                2017臺北世大運官方首頁
              </li>
              <li>
                臺北市政府電子公報資訊網
              </li>
              <li>
                富邦影書城平台
              </li>
              <li>
                香港匯知教育出版社教學平台
              </li>
            </ul>
            <span class="icon icon-briefcase"></span>
          </div>
        </div>
        <div class="education">
          <div class="line">
            <div></div>
            <span class="year">
              <span>{{ toDay | date:'yyyy-MM' }}</span>
            </span>
            <div></div>
          </div>
          <div class="description">
            <h3>至今</h3>
            <ul>
              <li>
                Progressive Web Apps
              </li>
              <li>
                仿instagram留言牆
              </li>
              <li>
                學習React
              </li>
              <li>
                深入RxJs
              </li>
            </ul>
            <span class="icon icon-user"></span>
          </div>
        </div>
      </section>
    </div>
    <div>
      <h2>作品簡介</h2>
      <ul>
        <li>
          <h3>TinCan學習統計分析</h3>
          <p>
            在TinCan學習分析的統計上，公司主管建議是把資料儲存進關聯式資料庫內，但是個人覺得效能不太好，所以產生想學習NoSQL的興趣，認為應該會有更好的處理方式，來處理大數據以及raw data才對。
          </p>
          <p>
            不過公司上並沒有運用，個人是運用在個人作品上做測試，NoSQL打破以往的關聯式資料庫Schema欄位架構來確立資料表之間的關聯，利用Key-Value對應的方式來儲存資料，資料之間沒有關連性，所以，對於一些繁雜的資料，可以直接利用JSON的方式做儲存，是很方便的，而且NoSQL在於系統容量上擴充也是不影響資料且可直上擴充，這也是很好的一個優點!
          </p>
        </li>
        <li>
          <h3>HTML5電子書</h3>
          <p>
            HTML5在開發上運用了大量的JQ以及css，所以在開發此產品的時候去深入了解Javascript以及css的，加強前端能力，包括了JQ的動畫、HTML5元素的使用，也體驗到瀏覽器的不同，接觸了能用畫的canvas的運用。
          </p>
          <p>
            初期版本的HTML5電子書在於動畫處理上非常麻煩，必須做出類似PPT飛入飛出、淡入淡出等等效果的動畫，但是因為太大量的運算，所以重新思考如何改善，剛好HTML5有canvas此元素可以使用，在HTML5電子書上觀看，其實也可以想成是在操作一個遊戲，而網頁的遊戲有許多也都是透過canvas做出來的。
          </p>
          <p>
            新版的HTML5幾乎都是用canvas畫出來的，規劃由編輯器產出的物件，整理成對應要畫上畫布的物件Model，當書本翻動時，畫上該頁數的物件，來達到呈現的效果。
          </p>
        </li>
        <li>
          <h3>企業輔銷系統(久大行銷動型錄、台灣扣件服務雲)</h3>
          <p>
            此產品是個人全端開發，前端用AngularJs、後端端是.Net WebForm，利用ashx撰寫api，第一次了解到前後端分離的好處，此產品內有完整的功能，包括會員系統、上傳檔案、統計分析，在此學習到了功能面的設計及規劃、利用c3.js去做分析圖表（長條、點線圖）等等的呈現，也藉此更了解Angular跟資料庫的處理。
          </p>
          <p>
            在此了解到前後端的好處是可以專心在前端的UI/UX部分，或者後端的程式邏輯運算的部分，最後再來做整合，而不會刻板到一半去寫邏輯，或者思考邏輯到一半卻要配合UI如何呈現，個人覺得這樣效率很好。
          </p>
        </li>
        <li>
          <h3>單間智慧教室(長榮航空、地磨兒小學)</h3>
          <p>
            此產品也是屬於完整且個人全端的產品，單間智慧教室最特別的是SignalR上的使用，利用Signalr背後的socket，讓老師在上課即時出題時，學生realtIme接到提示，進行好的互動，也體驗到realtime的強大。
          </p>
          <p>
            會運用此技術是因為以前的網頁需要realtime方式更新資料的時候，都要透過事件(點擊更新按鈕)或者用計數器多少時間重新要資料，但這樣無法根治到底有沒有新資料，透過SignalR可以達到此效果。
          </p>
          <p>
            SignalR是一套可以輕鬆實現Real-Time Web的ASP.NET Library，他的效果是伺服器接收到訊息時可以廣撥給連線的客戶端，通知客戶端有新訊息，來達到即時的消息，跟聊天室一樣，因為他的底層是WebSocket，但是SignalR提供了更好的包裝以及更多的方法，所以選用此技術進行研究以及開發。
          </p>
        </li>
        <li>
          <h3>2017臺北世大運官方首頁</h3>
          <p>
            此專案在公司與他人合作的專案，一樣是以AngularJs加上.Net WebForm去做開發，我負責的工作屬於前端(AngularJS)開發的部分，初期設計師設計以及切好版面後，會先與設計師討論畫面的動畫呈現、包括hover事件以及Menu伸縮是否可製作等等頁面上增加的使用者體驗效果，沒問題後，前端工程師再進行切版的動作，依據畫面上所需資料的呈現，與後端工程師去溝通傳輸的JSON格式、資料模型的產出，雙方達到一致的認同後，同時進行開發，再套版面進行時如有發生資料缺失或者需要多資料時直接請後端工程師協助，而不會耽擱手邊工作。
          </p>
          <p>
            由於是全球性的網頁供使用者瀏覽，在這專案裡面也用到了中華電信的CDN、負載平衡，Data Server的認知，但因為是國際型賽事，負載平衡以及CDN，都是由府方安排協力廠商進行，所以僅知道會有如何的效果，再調效方面並不是由我們所負責，最後的站台沒有加上CDN的站台可以承受差不多3000人，加上CDN後差不多6000人，讓我大開眼界、受益良多。
          </p>
        </li>
        <li>
          <h3>臺北市政府電子公報資訊網、富邦影書城平台、香港匯知教育出版社教學平台</h3>
          <p>
            這3個專案是我向主管提議能否用Angular 4 + .Net Core Web APi的方式進行開發，所以在這2個專案裡我算擔任的小leader(2前端2後端)，主要會先了解客戶頁面如何呈現的需求，請設計師設計概念圖，再與團隊討論那些是否可以抽成共用元件，前端1人製作共用元件，1人開始製作網站地圖以及與後端1人設計API，另1後端開始架設專案建置站台，完成所有準備工作後，根據網站地圖切功能，1前端1後端配合開始進行開發，中間如果有認為好用的共用功能，會以共用的進度為主，抽出來做打包的動作，最後再由我來確認功能是否正確開發完成。
          </p>
          <p>
            這些專案也嘗試試著由前端工程師進行刻板動作而不是由設計師進行切版，所以在此專案對UI的部分有深刻的認知。
          </p>
          <p>
            在客戶(富邦)有要求同時上線500人，所以也要求團隊的後端，如果回應大小沒有很大的時候，能在1-2S內回應，前端在路由的設計上都利用Angular提供的lazyload的方式載入，提升效能，增加使用者體驗。
          </p>
        </li>
        <li>
          <h3>個人作品</h3>
          <h4>仿instagram留言牆</h4>
          <p>當初會著手製作這個是因為很喜歡IG他的UI，簡單又不失優雅，再加上各社群網站的崛起，圖文說明自己心情的PO文，很讓人值得去參考，所以開始著手在UI的模仿，資料處理的部分利用Angular直接引用的RxJs，解決了麻煩的資料處理的部分。</p>
          <p>RxJs是一個邏輯上的運用，更好的選擇比起Promise，可以使用類似Linq一直串行為的方式做想要的處理，而且他的行為是一步一步的同步行為，又剛好解決了在Javascript上最困擾的非同步問題，也因為有此好用的技術，讓我更加的深入研究前端這領域。</p>
          <br>
          <p>
            現在個人以及與朋友配合的開發上，是Angular 6 + .Net Core Web Api，使用Git來當版本控管，以及之後會利用GitLab導入CI/CD，嘗試利用更多的Git功能，包括gitflow或者branch來做分支，進行更多元化功能的開發，也會嘗試利用issue的紀錄，來達到版本上的完整性以及紀錄，未來後端可能轉換成NodeJs，前端部分會學習React，熟悉多元技術。
          </p>
        </li>
      </ul>
    </div>
    <h2 class="title">
      技能
    </h2>
    <div class="skills">
      <div class="item-block">
        <div class="skill-item">
          <h3>前端</h3>
          <div>
            <ul>
              <li>
                HTML5/CSS
              </li>
              <li>
                Javascript
              </li>
              <li>
                jQuery
              </li>
              <li>
                Typescript
              </li>
            </ul>
          </div>
        </div>
        <div class="skill-item">
          <div>
            <h3>後端</h3>
            <ul>
              <li>
                C#
              </li>
              <li>
                MS-SQL
              </li>

              <li>
                PostgreSQL
              </li>

              <li>
                MongoDB
              </li>
            </ul>
          </div>

        </div>
        <div class="skill-item">
          <h3>框架</h3>
          <ul>
            <li>AngularJs</li>
            <li>Angular</li>
            <li>ASP.NET</li>
          </ul>
        </div>
      </div>

    </div>
    <h2 class="title">
      個人特質
    </h2>
    <div class="trait">
      <ul>
        <li>
          <h3>以學習以及實作中自我成長，追求新知識、深入感興趣細節</h3>
          <p class="margin-0">
            多學習非工作上的實務。
          </p>
          <ul class="t-description">
            <li>
              Angular
              <br> 現階段前端三大框架其中的一個，因為本身滿早接觸前端(AngularJS)，所以持續使用到現在，從輕框架的1，到現在SPA的6，深入研究內部運作、了解其生命週期， 其中Angular搭配了RxJs，以及TypeScript，解決了Javascript中最麻煩的非同步以及弱型別處理，但了解過後其實優雅的是RxJs以及TypeScript，了解過後，都可以運用在程式邏輯上，讓寫程式流程更順暢，coding
              style定義更明確。
            </li>
            <li>
              PWA
              <br> 因應現今APP正夯時代，大部分的人幾乎都是在瀏覽手機，但不太深入了解APP情況下，也可以用網頁製作APP，Service Worker的cache、Push Service的推撥，來製作瀏覽類的APP，現階段也有許多APP也是用網頁製作而成。
            </li>
            <li>
              NoSQL
              <br> 大數據時代以及NodeJs的崛起，關聯式資料庫在存取大量資料的時候會有許多的問題，現今有許多NoSQL的產品，包括了Mongo以及FireBase等等，FireBase又提供了realtime的功能，例如:聊天室，在製作許多產品上往往很需要此功能及效果，就能達到以前不好處理資料庫的部分。
            </li>
          </ul>
        </li>
        <li>
          <h3>注重團隊溝通</h3>
          <p class="margin-0">
            對於一個團隊的進行，溝通是非常重要的，當然溝通並不是盲目的，以現在段個人在開發專案與團隊討論來說
          </p>
          <ul class="t-description">
            <li>
              事前規劃
              <br>明確的需求，後端資料庫以及網站地圖的規劃後才能確認整體系統的走向以及流程
            </li>
            <li>
              傳輸格式(API、JSON)確認
              <br>往往這個是最需要溝通的，在開發上可參考畫面或者功能性討論出需要的格式，同步進行開發，後端可先好寫一個功能的CRUD，再補上該功能所需要特別的API，來開發完整的功能
            </li>

            <li>
              問題確認
              <br>以前後端開發來說，頁面死掉常常會不知道是後端問題或者前端出錯，所以團隊都會請前端進行API呼叫時要catch，如果後端不是回應200，會發出各error code的警訊，利於了解問題在哪，加速解決。
            </li>
          </ul>
        </li>
        <li>
          <h3>喜歡新鮮事物</h3>
          <p class="margin-0">
            資訊爆炸的時代，隨時關注熱門以及感興趣事物，讓自我能力不落人後，而且前端的時代又是進步最快的，Angular在短短的三年內也從1版本到6版本了，增加的功能往往都非常讓人驚豔，最想學習的新事物是React，因為React的使用者真的太多了，想要了解到底裡面也有什麼魔法，可以深深吸引這麼多人，再來React
            native也是可以寫出最接近原生APP的產品，如果未來公司有需求，可以馬上上手轉型接軌新時代的網頁技術。
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
