<div class="video-block">
  <video autoplay loop width="100%" height="100%" #video>
    <source src="assets/video/videoplayback.mp4" type="video/mp4">
  </video>
</div>
<div class="brief">
  <p>我是來自高雄的前端工程師 王崇軒</p>
  <h2>Welcome, I'm Evan!</h2>
</div>
<div #content>
  <ul class="my-menu" #menu>
    <li [ngClass]="{'active':item.active}" *ngFor="let item of menuArray;let index = index;" (click)="goMenu(index)">
      {{ item.name }}
    </li>
  </ul>
  <div class="hidden"></div>

  <div class="fixed-bg about" #about>
    <div class="container">
      <div class="content">
        <h2 class="title">
          ABOUT ME
        </h2>
        <div class="box">
          <div class="me">
            <img src="assets/images/1.jpg" alt="">
          </div>
          <div class="introduction">
            <h4 class="name">Evan Wang 王崇軒</h4>
            <h3 class="rank">小小前端工程師</h3>
            <p>
              嗨！我是 Evan 王崇軒，是一位熱愛學習的工程師，個性和善、積極，對於事物有所自己的堅持，想要出自我手的東西是最好的。
            </p>
            <p>
              從研究所進入web世界，專研於網站超過三年的經驗後，後深深為它著迷，尤其是前端領域，版面上美好的設計，以及語言上的靈活性，可以創造出許多豐富的產品。
            </p>
          </div>
        </div>
        <ul class="sub-item">
          <li>
            <span class="icon-location"></span>
            <span>
              高雄市，台灣
            </span>
          </li>
          <li>
            <span class="icon-mail2"></span>
            <a href="mailto:kevinwang6303@gmail.com">kevinwang6303@gmail.com</a>
          </li>
          <li>
            <span class="icon-github"></span>
            <a href="https://github.com/kevinwang6303" target="_blank">
              https://github.com/kevinwang6303
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="fixed-bg experience" #experience>
    <div class="container">
      <div class="content">
        <h2 class="title">
          EXPERIENCE
        </h2>
        <div class="box">
          <section>
            <h4>學經歷</h4>
            <div class="education">
              <div class="line">
                <div></div>
                <span class="year">
                  <span>2015-06</span>
                </span>
                <div></div>
              </div>
              <div class="description">
                <h3>國立高雄應用科技大學(現今國立高雄科大) - 電機所畢</h3>
                <ul>
                  <li>
                    台灣電力公司 - 智慧電表統計網站
                  </li>
                </ul>
                <span class="icon icon-library"></span>
              </div>
            </div>
            <div class="education">
              <div class="line">
                <div></div>
                <span class="year">
                  <span>2015-11</span>
                </span>
                <div></div>
              </div>
              <div class="description">
                <h3>哈瑪星科技</h3>
                <ul>
                  <li>
                    HTML5電子書
                  </li>
                  <li>
                    企業輔銷系統
                  </li>
                  <li>
                    單間智慧教室
                  </li>
                  <li>
                    CIRN─國民中小學課程與教學資源整合平臺
                  </li>
                  <li>
                    2017臺北世大運官方首頁
                  </li>
                  <li>
                    臺北市政府電子公報資訊網
                  </li>
                  <li>
                    富邦影書城平台
                  </li>
                  <li>
                    香港匯知教育出版社教學平台
                  </li>
                </ul>
                <span class="icon icon-briefcase"></span>
              </div>
            </div>
            <div class="education">
              <div class="line">
                <div></div>
                <span class="year">
                  <span>{{ toDay | date:'yyyy-MM' }}</span>
                </span>
                <div></div>
              </div>
              <div class="description">
                <h3>至今</h3>
                <ul>
                  <li>
                    深入RxJs、Angular
                  </li>
                  <li>
                    學習React
                  </li>
                </ul>
                <span class="icon icon-user"></span>
              </div>
            </div>
          </section>
          <div class="indent">
            <h2>作品簡介</h2>
            <ul>
              <li>
                <h3>HTML5電子書</h3>
                <p>
                  電子書中有許多互動功能可由編輯器端製作，產生電子書，內容包括物件的塗抹(類似刮刮樂)、360度物件旋轉、相似於PPT動畫的飛入飛出、彈出視窗顯示資訊等等許多功能，我所負責的內容是電子書在瀏覽器上呈現的部分。
                </p>
                <p>
                  在這產品上開發了動畫、圖⽚平移、彈出視窗、⼯具列的選單、物件旋轉等等許多功能，使⽤JQ的Draggable、css的旋轉來製作功能，但是因為整份電子書是由編輯器端產出，再利用前端技術去做到互動行為，導致有些需要修改到編輯器端產出的程式碼會變得繁瑣，維護上有困難度，javascirpt的部分也沒有依照功能來做程式碼的分類，所以思考如何改善以及增加維護品質，編輯器端僅提供資料，其他呈現及處理完全由前端負責。
                </p>
                <p>
                  得到主管同意後，與另⼀名同仁進⾏重構以及重寫，規劃功能進⾏包裝，內容包括了呈現的內容繪製上canvas、功能所需的元素以及格式轉換等等，把元素及功能整理成每⼀⾴所需要的資料格式，把功能在canvas上來呈現。
                </p>
                <p>
                  不過在解析功能的時候也判斷⾏為是否操作DOM，是的話使⽤css or js動畫，如果是呈現動圖的功能，就會利⽤canvas來處理，使⽤不⼀樣的⽅式處理不同的功能模組。
                </p>
              </li>
              <li>
                <h3>企業輔銷系統(久大行銷動型錄、台灣扣件服務雲)</h3>
                <p>
                  接手此產品時已經有基礎的站台以及APP，負責的部分是進行站台客製化以及功能增加的開發，使用的是前端加後端方式開發，前端用AngularJs、後端是.Net
                  WebForm，利用ashx撰寫api提供前端以及APP呼叫，此產品內有完整的功能，包括會員系統、上傳檔案、統計分析。
                </p>
                <p>
                  拋棄JQ，全面使用AngularJS這個完善的框架進行開發，從api接取到資料後的資料雙向綁定、Dom元素的repeat、model呈現增加篩選過濾器、自定義Directive表單驗證、利用前端套件C3.js來製作圖表。
                </p>
                <p>
                  從以前.net
                  webform開發轉換為前後端分離的好處是可以專心在前端的UI/UX部分，或者後端的程式邏輯運算的部分，最後再來做整合，而不會刻板到一半去寫邏輯，或者思考邏輯到一半卻要配合UI如何呈現，個人覺得可以有效加速開發。
                </p>
              </li>
              <li>
                <h3>2017臺北世大運官方首頁</h3>
                <p>
                  此專案是在公司與他人合作的第一個專案，內容一樣是以AngularJs加上.Net
                  WebForm去做開發，我負責的工作屬於前端(AngularJS)開發的部分，會與設計師討論畫面如何套版以及增加動畫呈現、製作伸縮menu、圖片大小校正(固定範圍內，圖片長邊頂到為大小依據))等等功能，與後端工程師依據畫面上功能面所需資料去溝通跟定義傳輸的JSON格式、資料模型的產出。
                </p>
              </li>
              <li>
                <h3>臺北市政府電子公報資訊網、富邦影書城平台、香港匯知教育出版社教學平台</h3>
                <p>
                  這3個專案是我向主管提議能否用Angular 4 + .Net Core
                  WebAPi的方式進行開發，會想轉換的原因是因為以webform為底的站台，在路由轉換都會postback，造成不好的使用者體驗以及效能上不好，所以建議使用有完整框架，SPA的Angular來達成路由切換、前端的呈現。</p>
                <p>
                  在前端的部分實現了依據功能設計路由、建構整個站台的網站地圖，建置整個專案架構，抽取前端共用元件，包括了彈出式視窗、分頁元件、大幅輪播、上傳的service等等元件。
                </p>
              </li>
              <li>
                <h3>個人現況使用</h3>
                <p>RxJs是一個邏輯上的運用，更好的選擇比起Promise，可以使用類似串行為的方式做想要的處理，而且它的行為是一步一步的同步行為，又剛好解決了在Javascript上最困擾的非同步問題，也因為有此好用的技術，讓我更加的深入研究前端這領域。</p>
                <p>最大差異點在於Observable創建的非同步任務，可以被處理，而且是延時加載的。而promise設計的初衷只是為了解決大量的非同步回調所造成的難以調試問題，observable封裝了大量的方法供我們使用以處理複雜的非同步任務。</p>
                <p>假設我們要實現一個搜索功能，有一個簡單的輸入框，當用戶輸入文字的時候，實時的利用輸入的文字進行查詢，可以利用RxJs簡單做到一些好的處理</p>
                <div class="list-block">
                  <ul>
                    <li>不能在用戶輸入每個字符的時候就觸發搜索，可以知道input停止變化後400ms再進行搜尋，不用每個字都觸發，減少資源。</li>
                    <li>如果用戶輸入的文本沒有變化，就不應該重新搜索，可以知道上一次跟這一次的值有沒有不同，在進行處理。</li>
                    <li>可以考慮服務器的異步返回的問題，假設先後搜尋了'冰箱'以及'蘋果'，但是蘋果回應比較快，可以把搜尋冰箱這個行為取消掉，而不會造成另外的結果。</li>
                  </ul>
                </div>

                <br>
                <p>
                  現在個人以及與朋友配合的開發上，是Angular 6 + .Net Core Web
                  Api，延續公司上使用Git來當版本控管，不過現階段公司是以google表單來做進度追蹤，會嘗試利用Jenkins來做CI/CD，嘗試利用更多的Git功能，包括gitflow來做分支，進行更多元化功能的開發，也會嘗試利用issue的紀錄，來達到版本上的完整性以及紀錄，未來後端可能轉換成NodeJs，用一套的javascript來做站台的開發，前端部分會學習React，熟悉多元技術。
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-bg skills" #skills>
    <div class="container">
      <div class="content">
        <h2 class="title">
          SKILLS
        </h2>
        <div class="item-block">
          <div class="skill-item">
            <h3>前端</h3>
            <div>
              <ul>
                <li>
                  HTML5/CSS
                </li>
                <li>
                  Javascript
                </li>
                <li>
                  jQuery
                </li>
                <li>
                  Typescript
                </li>
              </ul>
            </div>
          </div>
          <div class="skill-item">
            <div>
              <h3>後端</h3>
              <ul>
                <li>
                  C#
                </li>
                <li>
                  MS-SQL
                </li>

                <li>
                  PostgreSQL
                </li>
              </ul>
            </div>
          </div>
          <div class="skill-item">
            <h3>框架</h3>
            <ul>
              <li>AngularJs</li>
              <li>Angular</li>
              <li>ASP.NET</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-bg trait indent" #trait>
    <div class="container">
      <div class="content">
        <div class="box">
          <h2 class="title">
            TRAIT
          </h2>
          <div>
            <ul>
              <li>
                <h3>以學習以及實作中自我成長，追求新知識、深入感興趣細節</h3>
                <p class="margin-0">
                  現階段前端三大框架其中的一個，因為本身滿早接觸前端(AngularJS)，所以持續使用到現在，從輕框架的1，到現在SPA的6，深入研究內部運作、了解其生命週期，
                  其中Angular搭配了RxJs，以及TypeScript，解決了Javascript中最麻煩的非同步以及弱型別處理，但了解過後其實優雅的是RxJs以及TypeScript，了解過後，都可以運用在程式邏輯上，讓寫程式流程更順暢，coding
                  style定義更明確。
                </p>
              </li>
              <li>
                <h3>注重團隊溝通與合作</h3>
                <p class="margin-0">
                  對於一個團隊的進行，溝通是非常重要的，當然溝通並不是盲目的，以現階段個人在開發專案與團隊討論來說有以下
                </p>
                <ul class="t-description list-block">
                  <li>
                    明確的需求，後端資料庫以及網站地圖的規劃後才能確認整體系統的走向以及流程，建立swagger當作後端Api文件，而不是口頭說明與嘗試。
                  </li>
                  <li>
                    快速理解功能需求、設計此專案所需前端共用元件、以及設計整個專案的路由及架構，可以加速團隊開發。
                    在開發上可參考畫面或者功能性討論出需要的格式，同步進行開發，後端可先好寫一個功能的CRUD，再補上該功能所需要特別的API，來開發完整的功能。
                  </li>
                </ul>
              </li>
              <li>
                <h3>喜歡新鮮事物</h3>
                <p class="margin-0">
                  資訊爆炸的時代，隨時關注熱門以及感興趣事物，讓自我能力不落人後，而且前端的時代又是進步最快的，Angular在短短的三年內也從1版本到6版本了，增加的功能往往都非常讓人驚豔，最想學習的新事物是React，因為React的使用者真的太多了，想要了解到底裡面也有什麼魔法，可以深深吸引這麼多人，再來React
                  native也是可以寫出最接近原生APP的產品，熟悉React可以嘗試開發React native，這樣可以最有效率地寫出APP，如果未來公司有需求，可以馬上上手轉型接軌新時代的網頁技術。
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-bg trait">
    <div class="container">
      <div class="content">
        <div class="back" (click)="goTop()">
          <div>
            <span class="icon-arrow-up"></span>
          </div>
          <a class="back-text">Back to Top</a>
        </div>
      </div>
    </div>
  </div>
</div>
